%h1= @singer.name
- if @albums.any?
  %ul
    - @albums.each do |album|
      %li
        = album.title
        %ul
          - album.songs.each do |song|
            %li= song.title
- else
  %em No Albums yet
